fastapi
uvicorn
pydantic
scikit-learn
Numpy
river
typing-extensions
langchain
pandas
chromadb
sentence-transformers
imblearn
langchain_community
bs4
selenium
langchain-ollama
langchain-huggingface
langchain-chroma
